*.xcf
*.fls
*.[oa]
*~
*.swp
*.tar.gz
*.nogit
*.zip
*.bz
*.idx
*.pdf
*.log
*.aux
*.toc
*.out
*.nav
*.epub
*-gen.html
*.fdb_latexmk
*.tdy
*META.yml
*META.json
*.bak
nytprof/*
tags
Build
_build/*
blib/*
frundis/frundis
testdata/testdata
testdata/.gofrundis_warnings_test
gofrundis
*.prof
.fossil-settings/
.fslckout
